.header-learning {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.learning-chapter {
    border: 1px solid #f8f4f4;
    padding: 10px;
}

.learning-chapter-content:hover {
    background-color: rgb(216 220 224);
}
.learning-chapter-content:active {
    background-color: var(--blue-100);
}
.child {
    flex-direction: column;
}

.icon-size {
    font-size: 20px;
}

.label-answer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.learning-video {
    padding: 20px !important;
}