.teacher-head {
    padding: 3rem 0;
    width: 100%;
}
.container-item {
    display: flex;
    justify-content: center;
}
.phan-trang {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.footer {
    width: 100%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination {
    display: flex;
    list-style: none;
    cursor: pointer;
}
  
.pagination li {
    margin: 0 5px;
}
  
.pagination a {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}
  
.pagination a.active {
    background-color: #428bca;
    color: #fff;
}
  
.pagination a:hover {
    background-color: #ddd;
}
