p,
h3,
h4 {
    margin: 0;
}
.wrapper {
    width: 100%;
}
.button-action {
    padding: 10px 20px !important;
    font-size: 11.25px !important;
    height: 36px !important;
    background: var(--blue-100) !important;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 15rem 0;
}
.container-body {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-top: 10rem;
    gap: 8rem;
}
.body-tieude {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.sub {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--Orange-95, #fff4e5);
    h3 {
        color: var(--Brand-200, #6da6c6);
        text-align: center;
        font-family: Be Vietnam Pro;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 72px */
    }
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    h4 {
        color: var(--Grey-15, #262626);
        text-align: center;
        font-family: Be Vietnam Pro;
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 57px */
    }
    p {
        align-self: stretch;
        color: var(--Grey-15, #262626);
        text-align: center;
        font-family: Be Vietnam Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
    }
}
.btn {
    display: flex;
    gap: 2rem;
    button {
        display: flex;
        padding: 14px 20px;
        color: #fff;
        align-items: center;
        border-radius: 5px;
        background: var(--Blue-100, #7e9cde);
    }
}
.body-img {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 25px 0 25px;
}

.footer {
    width: 100%;
}
