.body {
    display: flex;
    width: 100%;
    padding: 50px 0px;
    padding-left: 128px;
    margin-right: 12px;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #7e9cde;
}
.footer {
    width: 100%;
}
