.container {
    padding: 50px 0;
}

.input-create {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-wrapper {
    max-width: 850px;
    margin: 0 auto;
}

.display-subject-level {
    display: flex;
}
