#createOrder {
  max-width: 600px;
  margin: 200px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.radio-inline {
  margin-right: 20px;
}

#btnPopup {
  background-color: #428bca;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#btnPopup:hover {
  background-color: #3071a9;
}
